@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-1">Weather Reminder</h1>
    </div>

    <div class="row justify-content-center">
        <div class="card" style="max-width: 1000px;">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img src="/images/LoginImage.jpg" style="background-size: cover" class="img-fluid" alt="Responsive image">
                </div>

                <div class="col-md-6">
                    <div class="card-body">
                        <h2 class="text-center">@ViewData["Title"]</h2>

                        <section>
                            <form id="account" method="post">
                                <div class="row justify-content-center">
                                    <div class="col-md-8">
                                        <hr />
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="Input.Email"></label>
                                            <input asp-for="Input.Email" class="form-control" />
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Input.Password"></label>
                                            <input asp-for="Input.Password" class="form-control" />
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group text-center">
                                    <div class="checkbox">
                                        <label asp-for="Input.RememberMe">
                                            <input asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-primary">Log in</button>
                                </div>

                                <div class="form-group text-center">
                                    <div>
                                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                    </div>
                                    <a asp-area="Identity" asp-page="/RegisterUser/Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-success mt-4">Create New Account</a>
                                </div>

                                <input type="hidden" id="GetLocalTime" asp-for="Input.UserTime" value="">
                            </form>
                        </section>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
<script type="module" src="~/js/GetLocalTime.js"></script>
@*<script type="module" src="~/js/GetLocationFromBrowser.js"></script>*@