@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<p>
    Your password has been reset. Click here to login: <a asp-area="Identity" asp-page="/LoginUser/Login">Log In</a>
</p>
