@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <partial name="_StatusMessage" model="Model.StatusMessage" />
        <p>Click here to login: <a asp-area="Identity" asp-page="/LoginUser/Login">Log In</a></p>
    </div>
</div>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
